.asteroid big {
    color: blue;
    background-color: yellow;
}
.asteroid b329 big {
    color: blue;
}
.asteroid {
    padding: 2px;
    border: 1px;
    border-color: green;
}
#b325 {
        padding: 2px;
        border: 1px;
        border-color: green;
}
div {
    font-weight: bold;
}